.item {
	display: flex;
	position: relative;
	flex-direction: column;
}

.image {
	width: 550px;
	height: 300px;
	object-fit: contain;
	cursor: pointer;
}

.item_title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	max-width: 550px;
	text-align: center;
	opacity: 75%;
	padding: 5px;
}

.cover_navigator {
	display: flex;
	bottom: 0px;
	left: 0px;
	gap: 2px;
	position: absolute;
	width: 100%;
}
