.item {
	display: flex;
	position: relative;
	flex-direction: column;
}

.image {
	width: 550px;
	height: 300px;
	object-fit: contain;
	cursor: pointer;
}

.cover_navigator {
	display: flex;
	bottom: 0px;
	left: 0px;
	gap: 2px;
	position: absolute;
	width: 100%;
}
