.item_tags_editor {
	position: relative;
}

.item_tags {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.add_tag_button {
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
