.tag {
	display: flex;
	flex-direction: column;
	user-select: none;
	padding: 3px;
	border: 1px solid #555;
	border-radius: 7px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Times, Times New Roman, serif';
	height: 500px;
	width: 350px;
	justify-content: space-between;
	position: relative;
}

.tag:hover {
	background-color: #555;
}

.tag_actions_button {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
}

.title {
	color: white;
	padding: 5px;
	text-align: center;
}

.choose_file_dialog {
	display: none;
}

.image {
	object-fit: contain;
	overflow: hidden;
}
