.tags_holder {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #333;
}

.tags {
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 10px;
	flex-wrap: wrap;
}

.filters_holder {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.search {
	color: white;
}
