
.all {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player {
    padding: 10px;
    background-color: red;
    flex-grow: 1;
}

.tags-editor {
    padding: 10px;
    background-color: blue;
    min-width: 200px;
}

.related-items {
    padding: 10px;
    background-color: green;
}

.top-bar {
    padding: 5px;
    display: flex;
}
