
.all {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player {
    padding: 10px;
    flex-grow: 1;
}

.item-tags {
    padding: 10px;
    min-width: 200px;
}

.related-items {
    padding: 10px;
}

.top-bar {
    padding: 5px;
    display: flex;
}

.item-tag {
    user-select: none;
    background-color: wheat;
    padding: 3px;	
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Times, Times New Roman, serif";
}
